h1 {
    color : ghostwhite;
    font-family: 'Caveat Brush', cursive;
    font-style: italic;
    background-color :grey;
    font-size: 80px;
    border-top: double 2px black;
    border-bottom: double 2px black;
    width : 60%;
    text-align: center;
    padding: 30px;
}
body {
    background-color: mintcream;
}
section {
    background-color: rgb(252, 252, 252);
    width: 50%;
    margin: auto;
    padding : 20px;
}
h2 {
    color: black;
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
}
p {
    text-align: justify;
    margin: 20px;
    word-spacing: 2px;
}
.order {
    text-align: justify;
    margin: 20px;
    word-spacing: 3px;

}

#logo {
    -webkit-box-shadow: 3px 29px 17px -1px rgba(173,157,173,0.72);
    -moz-box-shadow: 3px 29px 17px -1px rgba(173,157,173,0.72);
    box-shadow: 3px 29px 17px -1px rgba(173,157,173,0.72);
    width: 20%;
}
#logo2 {
    -webkit-box-shadow: 3px 29px 17px -1px rgba(173,157,173,0.72);
    -moz-box-shadow: 3px 29px 17px -1px rgba(173,157,173,0.72);
    box-shadow: 3px 29px 17px -1px rgba(173,157,173,0.72);
    width: 20%;
}
.title {
    display: flex;
}
table{
    border : 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: skyblue;
    margin: auto;
}
thead th{
    font-weight: bold;
    padding: 20px;
    border : 1px solid black;
    font-style: italic;
    background-color: gray;
    font-family: 'Caveat Brush', cursive;
    font-size: 25px;
}
tbody td {
    border : 1px solid black;
    padding : 10px;
    background-color: ghostwhite;
    font-style: oblique;
    font-size: 16px;
    font-family: monospace;
}
footer{
    text-align: center;
    border: rgb(179, 179, 51) solid 1px;
    width: 40%;
    margin : auto;
}
